body{
    background-image: url(../imagens/outrun-neon-dark-background-purple-3840x2160-4523.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #F3F3F3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 340px;
    border: 2px solid #e126d9;
    border-radius: 10px;
}
.abas img{
    width: 30px;
}
.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}